<html>
    <head>
        <title>Socket.io chat app</title>
    </head>
    <script src="/socket.io/socket.io.js"></script>
    <body>
     <input type="text" name="name" value="" placeholder="Enter your name!">
     <button type="button" name="button">Let me chat!</button>
    <script src="js/chat.js"></script>
        </body>
    </body>
</html>